body {
  background-color: white;
  margin: 0;
  padding: 0;
  transition-timing-function: ease-in;
  transition: background-color 0.5s, color 0.2s;
  font-family: "Roboto";
  color: black; }
  body.white {
    color: white; }
    body.white nav li:after {
      background-color: white; }

#container {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh; }

a {
  text-decoration: none;
  color: inherit; }

#background-shapes {
  z-index: -1000;
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 4fr 1fr 1fr 4fr 1fr 4fr 4fr;
  grid-template-rows: 4fr 4fr 1fr 4fr 1fr 1fr 4fr 1fr 4fr 4fr;
  transform: scale(1.5) rotate(45deg);
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 800px;
  height: 800px; }
  #background-shapes div {
    background-color: rgba(0, 0, 0, 0.02); }
  #background-shapes .horizontal-left-top {
    grid-column: 4;
    grid-row: 1/3;
    height: 5000px;
    margin-top: -4772px; }
  #background-shapes .horizontal-left-bottom {
    grid-column: 4;
    grid-row: 6/12;
    height: 5000px; }
  #background-shapes .horizontal-right-top {
    grid-column: 7;
    grid-row: 1/6;
    height: 5000px;
    margin-top: -4600px; }
  #background-shapes .horizontal-right-bottom {
    grid-column: 7;
    grid-row: 9/12;
    height: 5000px; }
  #background-shapes .vertical-top-left {
    grid-row: 4;
    grid-column: 1/6;
    width: 5000px;
    margin-left: -4600px; }
  #background-shapes .vertical-top-right {
    grid-row: 4;
    grid-column: 9/11;
    width: 5000px; }
  #background-shapes .vertical-bottom-left {
    grid-row: 7;
    grid-column: 1/3;
    width: 5000px;
    margin-left: -4772px; }
  #background-shapes .vertical-bottom-right {
    grid-row: 7;
    grid-column: 6/11;
    width: 5000px; }

header {
  z-index: 1000;
  position: absolute;
  display: flex;
  width: 100vw;
  height: 96px;
  top: 0;
  justify-content: space-between;
  padding: 0 120px;
  box-sizing: border-box;
  align-items: center; }
  header .open-button {
    display: none;
    font-size: 2em; }
  header h2 {
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 0.25em;
    margin: 0; }
  header #nav-logo {
    opacity: 0;
    transition: opacity 0.5s; }
  header nav {
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 0.15em;
    margin-right: -9px; }
    header nav ul {
      display: flex;
      list-style: none; }
    header nav li {
      margin-left: 64px;
      padding: 6px 12px;
      position: relative;
      cursor: pointer; }
    header nav li:after {
      content: "";
      background: black;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      transition-timing-function: ease-in-out;
      transition: width 0.33s, background-color 0.5s; }
    header nav li.white:after {
      background: white; }
    header nav li:hover:after {
      width: 100%; }

.main-content .home {
  margin: 0 auto; }
  .main-content .home h1 {
    font-size: 5em; }
  .main-content .home h2 {
    font-family: 'Roboto';
    font-weight: 300;
    width: 70%;
    font-size: 1.5em;
    margin: 0 auto;
    letter-spacing: 0.05em;
    margin-top: 1%; }

.main-content {
  width: 100vw;
  min-height: calc(100vh);
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 122px;
  margin-top: 10%; }
  .main-content h1 {
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 0.25em;
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 64px; }
  .main-content h2 {
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 0.15em;
    margin: 0;
    text-align: center;
    font-size: 2em; }
  .main-content#home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    display: none; }
    .main-content#home.active {
      display: flex; }
    .main-content#home h1 {
      margin-bottom: 0; }
  .main-content#experience, .main-content#education, .main-content#skills, .main-content#portfolio, .main-content#contact {
    display: none; }
    .main-content#experience.active, .main-content#education.active, .main-content#skills.active, .main-content#portfolio.active, .main-content#contact.active {
      display: inline-block; }
  .main-content .main-footer a {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px; }
    .main-content .main-footer a span {
      font-family: 'Oswald';
      font-weight: 400;
      letter-spacing: 0.15em;
      margin-bottom: 12px; }
    .main-content .main-footer a i {
      font-size: 2em; }

.card {
  width: 29%; }
  .card h3.card-header {
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.15em;
    font-size: 1.25em;
    margin-bottom: 0; }
    .card h3.card-header span {
      font-weight: 400; }
  .card .employment-time {
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.15em;
    font-size: 1.15em;
    margin-top: 6px; }
  .card .description {
    line-height: 1.44em;
    letter-spacing: 0.05; }

.main-content .experience h1, .main-content .education h1 {
  margin-bottom: 64px; }
.main-content .experience .card-list, .main-content .education .card-list {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.main-content .education .card {
  width: 45%; }

.main-content .portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main-content .portfolio h2 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 0.05em; }

.main-content .skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .main-content .skills .skills-half.major {
    width: 70%; }
  .main-content .skills .skills-half.minor {
    width: 25%; }
  .main-content .skills .skills-half.major .skill-list {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .main-content .skills .skills-half.major .skill-list .skill {
      width: 30%; }
      .main-content .skills .skills-half.major .skill-list .skill h3 {
        font-family: "Oswald";
        font-weight: 400;
        letter-spacing: 0.15em;
        font-size: 1.25em;
        margin: 0; }
      .main-content .skills .skills-half.major .skill-list .skill h4, .main-content .skills .skills-half.major .skill-list .skill h5 {
        font-family: "Oswald";
        font-weight: 300;
        letter-spacing: 0.15em;
        font-size: 1.15em;
        margin-top: 6px;
        margin-bottom: 24px; }
      .main-content .skills .skills-half.major .skill-list .skill h5 {
        font-size: 1em;
        margin: 24px 0 6px; }
      .main-content .skills .skills-half.major .skill-list .skill .projects {
        font-family: "Roboto";
        font-weight: 300;
        font-size: 0.9em; }
        .main-content .skills .skills-half.major .skill-list .skill .projects a {
          position: relative;
          color: #E8E8E8;
          transition: color 0.5s; }
          .main-content .skills .skills-half.major .skill-list .skill .projects a i {
            margin-right: 6px; }
          .main-content .skills .skills-half.major .skill-list .skill .projects a:hover {
            color: #FFF; }
          .main-content .skills .skills-half.major .skill-list .skill .projects a:after {
            content: "";
            background: #FFF;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            transition-timing-function: ease-in-out;
            transition: width 0.33s, background-color 0.5s; }
          .main-content .skills .skills-half.major .skill-list .skill .projects a:hover:after {
            width: 100%; }
  .main-content .skills .skills-half.minor .skill-list {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .main-content .skills .skills-half.minor .skill-list .skill {
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      .main-content .skills .skills-half.minor .skill-list .skill .skill-name {
        width: 60%;
        font-family: "Oswald";
        font-weight: 300;
        letter-spacing: 0.15em;
        font-size: 1em;
        margin: 0; }
      .main-content .skills .skills-half.minor .skill-list .skill .skill-description {
        width: 38%;
        font-weight: 300;
        text-align: right; }
    .main-content .skills .skills-half.minor .skill-list h3, .main-content .skills .skills-half.minor .skill-list h4 {
      font-family: "Oswald";
      font-weight: 400;
      letter-spacing: 0.15em;
      font-size: 1.25em;
      margin: 0 0 8px; }
    .main-content .skills .skills-half.minor .skill-list h4 {
      margin-top: 6px; }

.skills-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .skills-header h1, .skills-header h2 {
    width: 50%; }
  .skills-header h1 {
    text-align: left; }
  .skills-header h2 {
    margin-bottom: 64px;
    text-align: right; }

.main-content .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .main-content .contact h1 {
    margin-bottom: 64px; }
  .main-content .contact .contact-form-container {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .main-content .contact .contact-form-container .input-container {
      position: relative;
      margin-bottom: 12px;
      width: 100%; }
    .main-content .contact .contact-form-container .submit-container {
      margin: 0 auto;
      position: relative;
      height: 64px;
      width: 192px;
      margin-top: 32px;
      box-sizing: border-box;
      border: 2px solid white;
      transform: skew(-45deg);
      transition: color 0.33s;
      transition-delay: 0.11s;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main-content .contact .contact-form-container .submit-container:hover .submit-text {
        color: #0072FF; }
      .main-content .contact .contact-form-container .submit-container:after {
        z-index: -2;
        content: "";
        background: #FFF;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition-timing-function: ease-in-out;
        transition: width 0.33s, background-color 0.5s; }
      .main-content .contact .contact-form-container .submit-container:hover:after {
        width: 100%; }
    .main-content .contact .contact-form-container .submit-text {
      display: inline-block;
      z-index: 3;
      font-size: 1.25em;
      font-family: 'Oswald';
      font-weight: 300;
      letter-spacing: 0.25em;
      color: white;
      transform: skew(45deg); }
    .main-content .contact .contact-form-container input[type=email], .main-content .contact .contact-form-container input[type=text], .main-content .contact .contact-form-container textarea {
      position: relative;
      background: transparent;
      color: white;
      border: none;
      height: 48px;
      padding: 6px 0px;
      font-size: 1.25em;
      font-family: "Oswald";
      width: 85%;
      outline: none; }
      .main-content .contact .contact-form-container input[type=email]:hover + span, .main-content .contact .contact-form-container input[type=email]:focus + span, .main-content .contact .contact-form-container input[type=email]:active + span, .main-content .contact .contact-form-container input[type=text]:hover + span, .main-content .contact .contact-form-container input[type=text]:focus + span, .main-content .contact .contact-form-container input[type=text]:active + span, .main-content .contact .contact-form-container textarea:hover + span, .main-content .contact .contact-form-container textarea:focus + span, .main-content .contact .contact-form-container textarea:active + span {
        width: 85%; }
      .main-content .contact .contact-form-container input[type=email]:hover + span:after, .main-content .contact .contact-form-container input[type=email]:focus + span:after, .main-content .contact .contact-form-container input[type=email]:active + span:after, .main-content .contact .contact-form-container input[type=text]:hover + span:after, .main-content .contact .contact-form-container input[type=text]:focus + span:after, .main-content .contact .contact-form-container input[type=text]:active + span:after, .main-content .contact .contact-form-container textarea:hover + span:after, .main-content .contact .contact-form-container textarea:focus + span:after, .main-content .contact .contact-form-container textarea:active + span:after {
        background-color: #FFF; }
      .main-content .contact .contact-form-container input[type=email]::placeholder, .main-content .contact .contact-form-container input[type=text]::placeholder, .main-content .contact .contact-form-container textarea::placeholder {
        color: #E8E8E8; }
    .main-content .contact .contact-form-container span {
      content: "";
      display: block;
      background: #FFF;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      transition-timing-function: ease-in-out;
      transition: width 0.33s, background-color 0.5s; }
      .main-content .contact .contact-form-container span:after {
        content: "";
        display: block;
        background: transparant;
        position: absolute;
        bottom: 11px;
        right: -26px;
        width: 32px;
        height: 2px;
        transition-timing-function: linear;
        transition: background-color 0.33s;
        transform: rotate(135deg); }
    .main-content .contact .contact-form-container textarea {
      background: transparent;
      color: #FFF;
      border: none;
      height: 300px;
      width: 100%;
      border-bottom: 2px solid white; }
      .main-content .contact .contact-form-container textarea::placeholder {
        color: #E8E8E8; }

.main-content .main-footer a.nav-link.hidden {
  display: none; }

aside {
  z-index: 1000;
  width: 80%;
  height: 100vh;
  position: fixed;
  right: -80%;
  transition: right 0.5s;
  transition-timing-function: ease-out;
  background: rgba(0, 114, 255, 0.95);
  color: white;
  font-family: 'Oswald';
  font-weight: 300;
  letter-spacing: 0.15em; }
  aside.open {
    right: 0; }
  aside .close-button {
    font-size: 1.5em;
    position: absolute;
    top: 12px;
    left: 12px;
    cursor: pointer; }
  aside .mike-bazuin {
    font-weight: 400;
    position: absolute;
    font-size: 2em;
    cursor: pointer;
    bottom: 72px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center; }
  aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 12px;
    width: 100%;
    box-sizing: border-box; }
    aside ul a {
      border-bottom: 1px solid #FFF;
      padding: 12px;
      text-align: center; }
      aside ul a:last-of-type {
        border-bottom: none; }

@media screen and (max-width: 1200px) {
  header {
    padding: 0 60px; }

  .main-content {
    padding: 0 61px; } }
@media screen and (max-width: 1000px) {
  header {
    padding: 0 24px; }

  .main-content {
    padding: 0 24px; }

  .main-content .skills {
    flex-direction: column; }
    .main-content .skills .skills-half.major {
      width: 100%; }
    .main-content .skills .skills-half.minor {
      width: 100%; } }
@media screen and (max-width: 940px) {
  header nav ul {
    display: none; }
  header nav .open-button {
    display: block; }

  #container {
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: 100vh; }

  #home h1 {
    font-size: 2em; }
  #home h2 {
    width: auto; }

  .main-content {
    margin-top: 96px; }
    .main-content .main-footer a {
      bottom: 1%; }
    .main-content .experience, .main-content .education, .main-content .skills, .main-content .contact {
      margin-bottom: 128px; }
      .main-content .experience h1, .main-content .education h1, .main-content .skills h1, .main-content .contact h1 {
        text-align: left;
        margin-bottom: 12px; }
      .main-content .experience .card-list, .main-content .education .card-list, .main-content .skills .card-list, .main-content .contact .card-list {
        flex-direction: column; }
      .main-content .experience .card, .main-content .education .card, .main-content .skills .card, .main-content .contact .card {
        width: 100%;
        text-align: left !important; }
    .main-content#skills .skills-header h1 {
      margin-bottom: 12px;
      text-align: left; }
    .main-content#skills .skills-header h2 {
      display: none; }
    .main-content#skills .skill-list {
      flex-direction: column; }
    .main-content#skills .skill {
      width: 100%;
      margin-bottom: 24px; }
      .main-content#skills .skill h4, .main-content#skills .skill h5 {
        margin: 6px 0 6px; }
    .main-content#portfolio {
      min-height: auto;
      height: 100vw; }
    .main-content#contact .contact {
      margin-bottom: 0px;
      align-items: flex-start; }
      .main-content#contact .contact .contact-form-container {
        width: 100%;
        align-items: flex-start; }
        .main-content#contact .contact .contact-form-container input[type=text], .main-content#contact .contact .contact-form-container input[type=email], .main-content#contact .contact .contact-form-container textarea {
          font-size: 1.12em;
          height: 32px; }
        .main-content#contact .contact .contact-form-container textarea {
          height: 136px; } }

/*# sourceMappingURL=style.css.map */
