body {
  // #0072ff is main color
  background-color: white;
  margin: 0;
  padding: 0;
  transition-timing-function: ease-in;
  transition: background-color 0.5s, color 0.2s;
  font-family: "Roboto";
  color: black;

  &.white {
    color: white;
    nav li:after {
      background-color: white;
    }
  }
}

#container {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

#background-shapes {
  z-index: -1000;
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 4fr 1fr 1fr 4fr 1fr 4fr 4fr;
  grid-template-rows: 4fr 4fr 1fr 4fr 1fr 1fr 4fr 1fr 4fr 4fr;
  transform: scale(1.5) rotate(45deg);
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 800px;
  height: 800px;

  div {
    background-color: rgba(0, 0, 0, 0.02)
  }
  
  .horizontal-left-top {
    grid-column: 4;
    grid-row: 1/3;
    height: 5000px;
    margin-top: -4772px;
  }
  .horizontal-left-bottom {
    grid-column: 4;
    grid-row: 6/12;
    height: 5000px;
  }
  .horizontal-right-top {
    grid-column: 7;
    grid-row: 1/6;
    height: 5000px;
    margin-top: -4600px;
  }
  .horizontal-right-bottom {
    grid-column: 7;
    grid-row: 9/12;
    height: 5000px;
  }
  .vertical-top-left {
    grid-row: 4;
    grid-column: 1/6;
    width: 5000px;
    margin-left: -4600px;
  }
  .vertical-top-right {
    grid-row: 4;
    grid-column: 9/11;
    width: 5000px;
  }
  .vertical-bottom-left {
    grid-row: 7;
    grid-column: 1/3;
    width: 5000px;
    margin-left: -4772px;
  }
  .vertical-bottom-right {
    grid-row: 7;
    grid-column: 6/11;
    width: 5000px;
  }
}

header {
  z-index: 1000;
  position: absolute;
  display: flex;
  width: 100vw;
  height: 96px;
  top: 0;
  // border-bottom: 1px solid white;
  justify-content: space-between;
  padding: 0 120px;
  box-sizing: border-box;
  align-items: center;

  .open-button {
    display: none;
    font-size: 2em;
  }

  h2 {
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 0.25em;
    margin:0;
  }

  #nav-logo {
    opacity: 0;
    transition: opacity 0.5s;
  }

  nav {
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 0.15em;
    margin-right: -9px;

    ul {
      display: flex;
      list-style: none;
    }
    li {
      margin-left: 64px;
      padding: 6px 12px;
      position: relative;
      cursor: pointer;
    }

    li:after {
      content: "";
      background: black;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      transition-timing-function: ease-in-out;
      transition: width 0.33s, background-color 0.5s;
    }
    li.white:after {
      background: white;
    }
    li:hover:after {
      width: 100%;
    }
  }
}

.main-content .home {
  margin: 0 auto;
  h1 {
    font-size: 5em;
  }
  
  h2 {
    font-family: 'Roboto';
    font-weight: 300;
    width: 70%;
    font-size: 1.5em;
    margin: 0 auto;
    letter-spacing: 0.05em;
    margin-top: 1%;
  }
}

.main-content {
  width: 100vw;
  min-height: calc(100vh);
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
  
  box-sizing: border-box;
  padding: 0 122px;
  margin-top: 10%;

  h1 {
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 0.25em;
    margin:0;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 64px;
  }

  h2 {
    font-family: 'Oswald';
    font-weight: 300;
    letter-spacing: 0.15em;
    margin: 0;
    text-align: center;
    font-size: 2em;
  }

  &#home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    display: none;
    &.active {
      display: flex;
    }
    h1 {
      margin-bottom: 0;
    }
  }
  &#experience, &#education, &#skills, &#portfolio, &#contact {
    display:none;
    &.active {
      display: inline-block;
    }
  }

  .main-footer a {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    span {
      font-family: 'Oswald';
      font-weight: 400;
      letter-spacing: 0.15em;
      margin-bottom: 12px;
    }
    i {
      font-size: 2em; 
    }
  }
}

.card {
  width: 29%;
  h3.card-header {
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.15em;
    font-size: 1.25em;
    margin-bottom: 0;

    span {
      font-weight: 400;
    }
  }
  .employment-time {
    font-family: "Oswald";
    font-weight: 300;
    letter-spacing: 0.15em;
    font-size: 1.15em;
    margin-top:6px;
  }
  .description {
    line-height: 1.44em;
    letter-spacing: 0.05;
  }
}

.main-content .experience, .main-content .education {
  h1 {
    margin-bottom: 64px; 
  }

  .card-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.main-content .education {
  .card {
    width: 45%;
  }
}

.main-content .portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 0.05em;
  }
}

.main-content .skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  .skills-half {
    &.major {
      width: 70%;
    }
    &.minor {
      width: 25%;
    }
  }
  .skills-half.major .skill-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .skill {
      width: 30%;
      h3 {
        font-family: "Oswald";
        font-weight: 400;
        letter-spacing: 0.15em;
        font-size: 1.25em;
        margin: 0;
      }
      h4, h5 {
        font-family: "Oswald";
        font-weight: 300;
        letter-spacing: 0.15em;
        font-size: 1.15em;
        margin-top:6px;
        margin-bottom: 24px;
      }
      h5 {
        font-size: 1em;
        margin:24px 0 6px;
      }
      .projects {
        font-family: "Roboto";
        font-weight: 300;
        font-size: 0.9em;
        a {
          position: relative;
          color: #E8E8E8;
          transition: color 0.5s;
          i {
            margin-right: 6px;
          }
          &:hover {
            color: #FFF;
          }
          &:after {
            content: "";
            background: #FFF;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            transition-timing-function: ease-in-out;
            transition: width 0.33s, background-color 0.5s;
          }
          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }

  .skills-half.minor .skill-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    .skill {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .skill-name {
        width: 60%;
        font-family: "Oswald";
        font-weight: 300;
        letter-spacing: 0.15em;
        font-size: 1em;
        margin: 0;
      }
      .skill-description {
        width: 38%;
        font-weight: 300;
        text-align: right; 
      }
    }
    h3, h4 {
      font-family: "Oswald";
      font-weight: 400;
      letter-spacing: 0.15em;
      font-size: 1.25em;
      margin: 0 0 8px;
    }
    h4 {
      margin-top: 6px;
    }
  }
}

.skills-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h1, h2 {
    width: 50%;
  }
  h1 {
    text-align: left;
  }

  h2 {
    margin-bottom: 64px;
    text-align: right;
  }
}

.main-content .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; 

  h1 {
    margin-bottom: 64px;
  }

  .contact-form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    // border-left: 2px solid white;

    .input-container {
      position: relative;
      margin-bottom: 12px;
      width: 100%;
    }

    .submit-container {
      margin: 0 auto;
      position: relative;
      height: 64px;
      width: 192px;
      margin-top: 32px;
      box-sizing: border-box;
      border: 2px solid white;
      transform: skew(-45deg);
      transition: color 0.33s;
      transition-delay: 0.11s;
      cursor:pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover .submit-text{
        color: #0072FF;
      }

      &:after {
        z-index: -2;
        content: "";
        background: #FFF;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition-timing-function: ease-in-out;
        transition: width 0.33s, background-color 0.5s;
      }
      &:hover:after {
        width: 100%;
      }
    }

    .submit-text {
      display: inline-block;
      z-index: 3;
      font-size: 1.25em;
      font-family: 'Oswald';
      font-weight: 300;
      letter-spacing: 0.25em;
      color: white;
      transform: skew(45deg);
    }

    input[type=email], input[type=text], textarea {
      position: relative;
      background: transparent;
      color: white;
      border: none;
      height: 48px;
      padding: 6px 0px;
      font-size: 1.25em;
      font-family: "Oswald";
      width:85%;
      outline: none;
      &:hover + span, &:focus + span, &:active + span {
        width: 85%;
      }
      &:hover + span:after, &:focus + span:after, &:active + span:after {
        background-color: #FFF;
      }
      &::placeholder {
        color: #E8E8E8
      }
    }
    span {
      content: "";
      display: block;
      background: #FFF;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      transition-timing-function: ease-in-out;
      transition: width 0.33s, background-color 0.5s;

      &:after {
        content: "";
        display: block;
        background: transparant;
        position: absolute;
        bottom: 11px;
        right: -26px;
        width: 32px;
        height: 2px;
        transition-timing-function: linear;
        transition: background-color 0.33s;
        transform: rotate(135deg);
      }
    }
    textarea {
      background: transparent;
      color: #FFF;
      border: none;
      height: 300px;
      width: 100%;
      border-bottom: 2px solid white;

      &::placeholder {
        color: #E8E8E8
      }
    }
  }
}

.main-content .main-footer a.nav-link.hidden {
  display: none;
}

aside {
  z-index: 1000;
  width: 80%;
  height: 100vh;
  position:fixed;
  right: -80%;
  transition: right 0.5s;
  transition-timing-function: ease-out;
  background: rgba(0, 114, 255, 0.95);
  color: white;
  font-family: 'Oswald';
  font-weight: 300;
  letter-spacing: 0.15em;

  &.open {
    right: 0;
  }

  .close-button {
    font-size: 1.5em;
    position: absolute;
    top: 12px;
    left: 12px;
    cursor: pointer;
  }

  .mike-bazuin {
    font-weight: 400;
    position: absolute;
    font-size: 2em;
    cursor: pointer;
    bottom: 72px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;

    a {
      border-bottom: 1px solid #FFF;
      padding: 12px;
      text-align: center;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }


}

@media screen and (max-width: 1200px) {
  header {
    padding: 0 60px;
  }
  .main-content {
    padding: 0 61px;
  }
}

@media screen and (max-width: 1000px) {
  header {
    padding: 0 24px;
  }
  .main-content {
    padding: 0 24px;
  }
  .main-content .skills {
    flex-direction: column;
    .skills-half {
      &.major {
        width: 100%;
      }
      &.minor {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  header {
    nav {
      ul {
        display:none;
      }
      .open-button {
        display: block;
      }
    }
  }
  #container {
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: 100vh;
  }
  #home {
    h1 {
      font-size: 2em;
    }
    h2 {
      width: auto;
    }
  }
  .main-content {
    margin-top: 96px;
    .main-footer a {
      bottom: 1%;
    }
    .experience, .education, .skills, .contact {
      h1 {
        text-align: left;
        margin-bottom: 12px;
      }
      margin-bottom: 128px;
      .card-list {
        flex-direction: column;
      }
      .card {
        width: 100%;
        text-align: left !important;
      }
    }
    &#skills {
      .skills-header {
        h1 {
          margin-bottom: 12px;
          text-align: left;
        }
        h2 {
          display: none;
        }
      }
      .skill-list {
        flex-direction: column;
      }
      .skill {
        width: 100%;
        margin-bottom: 24px;
        h4, h5 {
          margin: 6px 0 6px;
        }
      }
    }
    &#portfolio {
      min-height: auto;
      height: 100vw;
    }
    &#contact {
      .contact {
        margin-bottom: 0px;
        align-items: flex-start;
        .contact-form-container {
          width: 100%;
          align-items: flex-start;
  
          input[type=text], input[type=email], textarea {
            font-size: 1.12em;
            height: 32px;
          }
  
          textarea {
            height: 136px;
          }
        }
      }
    }
  }
}